<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sentinel2 download</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
    <form method='post'>
        <fieldset>
            <legend> caja de coordenadas en grados decimales positivo/negativo, trate de usar una caja muy pequeña (puede usar los valores puestos como referencia):</legend>
            <label for="north">Norte: </label>
            <input type='number' name='north' id='north' value="-30" min="-90", max="90" step="0.01" required>
            <label for="east">Este: </label>
            <input type='number' name='east' id='east' value="-71.3" min="-180", max="180" step="0.01" required>
            <label for="south">Sur: </label>
            <input type='number' name='south' id='south' value="-30.5" min="-90", max="90" step="0.01" required>
            <label for="west">Oeste: </label>
            <input type='number' name='west' id='west' value="-71.7" min="-180", max="180" step="0.01" required>
        </fieldset>
        <fieldset>
            <legend> Fecha: </legend>
            <label for="start_date">Inicio: </label>
            <input type='date' name='start_date' id='start_date' required> <!-- el datepicker nativo de html5 no se muestra en safari, considerar usar el de jqueryUI -->
            <label for="end_date">Fin: </label>
            <input type='date' name='end_date' id='end_date' required>
        </fieldset>
        <fieldset>
            <legend> Especificaciones de Sentinel2: </legend>
            <label for="tiles">Cuadros (Tiles): </label>
            <input type='text' name='tiles' id='tiles' placeholder="19KCV,19KCU">
            <label for="max_cloud">cloud cover máximo (en %): </label>
            <input type='number' name='max_cloud' id='max_cloud' value="20", min="0", max="99" required>
            <label for="project">Nombre de proyecto (carpeta para almacenar productos): </label>
            <input type='text' name='project' id='project' value="demo" required> </br>
            <a href="https://sentinel.esa.int/documents/247904/1955685/S2A_OPER_GIP_TILPAR_MPC__20151209T095117_V20150622T000000_21000101T000000_B00.kml">Grilla KMZ de Sentinel2</a>
        </fieldset>
        <input type='submit' name='submit', value='Send!'></input>
    </form>
    
    <a href="/projects">Proyectos disponibles</a>
    <a href="/download">Descargas disponibles</a>

</body>
</html>