<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sentinel2 download</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<script>
 $(document).ready(function(){
   // Check or Uncheck All checkboxes
   $("#checkall").change(function(){
     var checked = $(this).is(':checked');
     if(checked){
       $(".checkbox").each(function(){
         $(this).prop("checked",true);
       });
     }else{
       $(".checkbox").each(function(){
         $(this).prop("checked",false);
       });
     }
   });
 
  // Changing state of CheckAll checkbox 
  $(".checkbox").click(function(){
 
    if($(".checkbox").length == $(".checkbox:checked").length) {
      $("#checkall").prop("checked", true);
    } else {
      $("#checkall").removeAttr("checked");
    }

  });
});
</script>
<body>
    <form method='post' action={{ '/process' if type == 2 else "" }}>
    {% if type == 1 %}
      {% for file in projs%}
      <input type="radio" name="selected" value="{{ file }}" onclick="this.form.submit()"> {{ file }}<br>
      {% endfor %}
    {% elif type == 2 %}
      <fieldset>
      <p><input type="checkbox" name="all" id='checkall' class="selectall" />Seleccionar todos</br></p>
      {% for file in projs%}
      <input class='checkbox' type="checkbox" name="{{ file }}" value="{{ file }}"> {{ file }}<br>
      {% endfor %}
      </fieldset>
      <hr>
      <fieldset>
      <input type="checkbox" name="toTiff" value="toTiff" checked> ¿Procesar a Gtiff?<br>
      </fieldset>
      <hr>
      <fieldset>
      <div>Vaya a <a href="/download">descargas</a> para obtener los productos. Al presionar "enviar" puede cerrar la ventana.</div>
      </fieldset>
    {% endif %}
        {{ "<input type='submit' name='submit', value='enviar'></input>"|safe if type == 2 else '' }}
    </form>
</body>
</html>